# INDIVIDUAL ASSIGNMENT

### ANSWERED BY DWI SMARADAHANA INDRALOKA

### 1. How many rows and columns reflected on dataset file IMDB-database-update.csv?

In [18]:
import pandas as pd
imdb = pd.read_csv("IMDB-database-update.csv", encoding='latin1')
imdb.shape
print(len(imdb))
print(len(imdb.columns))

3781
36

### 2. What are the top 3 movies with highest nett profit in 2013?

In [19]:
imdb_2013 = imdb[imdb.title_year == 2013]
net_profit = imdb_2013.sort_values('net_USD', ascending = False)
net_profit[["movie_title", "net_USD"]].head(3)

                          movie_title    net_USD
1614  The Hunger Games: Catching Fire  294645577
236                   Despicable Me 2  292049635
57                             Frozen  250736600

### 3. What are the top 3 movies with highest gross profit in 2009?

In [20]:
imdb_2009 = imdb[imdb.title_year == 2009]
gross_profit = imdb_2009.sort_values('gross_USD', ascending = False)
gross_profit[["movie_title", "gross_USD"]].head(3)

                                 movie_title  gross_USD
0                                     Avatar  760505847
19       Transformers: Revenge of the Fallen  402076689
3094  Harry Potter and the Half-Blood Prince  301956980

### 4. How many non-english movies are in the dataset?

In [21]:
non_english = imdb[imdb.language !="English"]
hitung = non_english["movie_ID"].count()
print(hitung)

153

### 5. What are top 3 languages in the dataset aside English (based on number of movies)?

In [22]:
imdb_language = non_english.groupby("language")
hitung_language = imdb_language["movie_ID"].count()
urut_language = hitung_language.sort_values(ascending = False)
urut_language.head(3)

language
French      33
Spanish     23
Mandarin    14
Name: movie_ID, dtype: int64

### 6. What are the top 3 countries with the highest nett profit in all dataset times?

In [23]:
imdb_countries = imdb.groupby("country")
hitung_country = imdb_countries["net_USD"].sum()
urut_country = hitung_country.sort_values(ascending = False)
urut_country.head(3)

country
USA          52003933174
UK            1531614524
Australia      252571616
Name: net_USD, dtype: int64

### 7. What are the average budget of all movies in dataset in 2013?

In [24]:
imdb_budget_2013 = imdb[imdb.title_year == 2013]
average_2013 = imdb_budget_2013["budget_USD"].mean()
print(average_2013)

51069610.77439024

### 8. What are the average budget of all movies in dataset in 2014?

In [25]:
imdb_budget_2014 = imdb[imdb.title_year == 2014]
average_2014 = imdb_budget_2014["budget_USD"].mean()
print(average_2014)

49919006.62251656

### 9. Which one is higher, average budget of all movies in dataset in 2014 or 2013?

In [26]:
if average_2013 > average_2014:
    print("Average budget of all movies in dataset 2013 is higher")
else:
    print("Average budget of all movies in dataset 2014 is higher")

Average budget of all movies in dataset 2013 is higher

### 10. What movie that resulted highest nett profit of all dataset times? How much did the movie make?

In [27]:
urut = imdb.net_USD.sort_values()
gross_profit[["movie_title", "budget_USD"]].head(1)

  movie_title  budget_USD
0      Avatar   237000000